<div class="ban5 ban" id="ban5">
</div>

<div class="lineuptext"><strong>개발자 소개</strong></div>


<div class='h-container'>

      <div class="row">
          
          
          <div class="col-sm-12 col-md-6 col-xl-3 ">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "#", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "#", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "#", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "#", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
        
          
          
        </div>
        

<br><br>

<div class="lineuptext"><strong>팀 소개</strong></div>

<br><br>
 <div class="col-sm-12 col-md-12 col-xl-12">
<div>
 <div class="h-team-wrapper">
    <%= image_tag "team.jpeg", class: "card-img-top team-img" %>
 </div>
 </div>
</div>

<br><br>
<div class="team-text"> C2H5OH</div>
    
     

