<section class= "y-main-img" id="y-main-img">
 <div class="y-box">
   <h2 class="y-log-in"></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


<div class="field s-sign-field">
    <%= f.label :name, "이름" %>
    <%= f.text_field :name, autofocus: true, class: "y-name-box" %>
  </div>
  <div class="field s-sign-field">
    <%= f.label :email, "이메일" %>
    <%= f.email_field :email, autocomplete: "email", class: "y-email-box" %>
  </div>

    <div class="field s-sign-field">
      <%= f.label :password, "비밀번호" %>
      <% if @minimum_password_length %>
      <!--<em>(<%= @minimum_password_length %> characters)</em>-->
      <% end %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "6자리 이상", class:"y-password-box" %>
    </div>
  


    <div class="field s-sign-field">
      <%= f.label :password_confirmation, "비밀번호" %>
      <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "6자리 이상", class:"y-password-box" %>
    </div>
    <div class="field s-sign-field">
      <%= f.label :myimg, "프로필사진" %>
      <%= f.file_field :myimg %>
    </div>

    <div class="actions">
      <%= f.submit "회원가입", class:"y-post-btn" %>
     </div>
   <% end %>

 </div>
</section>