<p id="notice"><%= notice %></p>

<p>
  <strong>Postid:</strong>
  <%= @like.postid %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @like.userid %>
</p>

<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
