<header class="header-b">
 <a href="/" class="s-back-btn">
    <%= image_tag("back_btn_w.png") %>
  </a>
  <nav role="navigation">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>
      
      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <li>
          <%= link_to '게시물 등록하기', new_post_path %>
        </li>
        <li>
          <a href="/home/mypage" class="nav_item"><li>마이페이지</li></a>
        </li>
        <li>
          <a href="/users/sign_out" class="nav_item"><li>로그아웃</li></a>
        </li>
        <li>
          <a href="/developers/index" class="nav_item"><li>개발자소개</li></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="ban1 ban" id="ban1">
</div> 
<div class="ban2">
</div> 

<div class="y-profile-img y-myprofile-img" ><%= image_tag("#{current_user.myimg}") %>
</div>


<div class="y-profile-name"><strong>
  <%= current_user.name%>
</strong></div>

 <div class="s-my-point-wrapper", id="asdf" >
    <div class="s-my-point">
        <input type='radio' id='my-point' name='group1' value='answer'checked='true' />
        <label for='my-point' class="my-point">내가 쓴 경로</label>
        <!--<span class="check_0" id="check_1" onclick="check_1()">내가 쓴 경로</span>-->
        <ul>
         <% @posts = Post.where(user_id:  current_user.id).all %>
          <% @posts.each do |post| %>
          <li class="s-list">
            <a class="s-list-item" href="/posts/<%= post.id %>">
              <div class="s-img-wrapper">
                <%= image_tag("#{post.postimg}", class: "s-img") %>
              </div>
              <div class="s-card-content">
                <div class="s-title">
                <%= post.title %>
              </div>
              <ul class="s-card-mood">
                <% if post.mood1 == 'romantic' %>
                  <li><%= image_tag("romantic.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood2 == 'tasty' %>
                  <li><%= image_tag("tasty.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood3 == 'luxury' %>
                  <li><%= image_tag("luxury.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood4 == 'healing' %>
                  <li><%= image_tag("healing.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood5 == 'relaxing' %>
                  <li><%= image_tag("relaxing.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood6 == 'escape' %>
                  <li><%= image_tag("escape.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood7 == 'peaceful' %>
                  <li><%= image_tag("peaceful.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood8 == 'active' %>
                  <li><%= image_tag("active.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood9 == 'challenging' %>
                  <li><%= image_tag("romantic.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood10 == 'meaningful' %>
                  <li><%= image_tag("romantic.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood11 == 'traditional' %>
                  <li><%= image_tag("romantic.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood12 == 'sight' %>
                  <li><%= image_tag("sight.png") %></li>
                <% else %>
                <% end %>
              </ul>
              </div>
              
            </a>
          </li>
          <%end%>
        </ul>
      </div>
    <div class="s-my-point">
        <input type='radio' id='like-point' name='group1' value='answer' />
        <label for='like-point' class="like-point">내가 사랑한 경로</label>
        <!--<span class="check_0" id="check_1" onclick="check_1()">내가 사랑한 경로</span>-->
        <ul>
          <% @loves = Love.where(user_id:  current_user.id).all %>
          <% @loves.each do |love| %>
          <% post = Post.find(love.post_id) %>
             <li class="s-list">
              <a class="s-list-item" href="/posts/<%= post.id %>">
                <div class="s-img-wrapper">
                  <%= image_tag("#{post.postimg}", class: "s-img") %>
                </div>
                <div class="s-card-content">
                  <div class="s-title">
                  <%= post.title %>
                </div>
                <ul class="s-card-mood">
                  <% if post.mood1 == 'romantic' %>
                    <li><%= image_tag("romantic.png") %></li>
                  <% else %>
                  <% end %>
                  
                  <% if post.mood2 == 'tasty' %>
                    <li><%= image_tag("tasty.png") %></li>
                  <% else %>
                  <% end %>
                  
                  <% if post.mood3 == 'luxury' %>
                    <li><%= image_tag("luxury.png") %></li>
                  <% else %>
                  <% end %>
                  
                  <% if post.mood4 == 'healing' %>
                    <li><%= image_tag("healing.png") %></li>
                  <% else %>
                  <% end %>
                  
                  <% if post.mood5 == 'relaxing' %>
                    <li><%= image_tag("relaxing.png") %></li>
                  <% else %>
                  <% end %>
                  
                  <% if post.mood6 == 'escape' %>
                    <li><%= image_tag("escape.png") %></li>
                  <% else %>
                  <% end %>
                  
                  <% if post.mood7 == 'peaceful' %>
                    <li><%= image_tag("peaceful.png") %></li>
                  <% else %>
                  <% end %>
                  
                  <% if post.mood8 == 'active' %>
                    <li><%= image_tag("active.png") %></li>
                  <% else %>
                  <% end %>
                  
                  <% if post.mood9 == 'challenging' %>
                    <li><%= image_tag("romantic.png") %></li>
                  <% else %>
                  <% end %>
                  
                  <% if post.mood10 == 'meaningful' %>
                    <li><%= image_tag("romantic.png") %></li>
                  <% else %>
                  <% end %>
                  
                  <% if post.mood11 == 'traditional' %>
                    <li><%= image_tag("romantic.png") %></li>
                  <% else %>
                  <% end %>
                  
                  <% if post.mood12 == 'sight' %>
                    <li><%= image_tag("sight.png") %></li>
                  <% else %>
                  <% end %>
                </ul>
                </div>
              </a>
            </li>
          <%end%>
        </ul>
    </div>
 </div>