<section class= "y-main-img" id="y-main-img">
 <div class="y-box" >
   <div class="y-log-in"></div>
    <br>
    <div class="y-intro">Moody는 숨겨진 여행의 무드를 </br> 
    발견하는 여행 경로 추천 서비스입니다.</div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
        <div class="s-sign-field">
          <%= f.label :email, class:"y-label"%>
          <%= f.email_field :email, autocomplete: "off" , class: "y-email-box"%>
        </div>

        <div class="s-sign-field">
          <%= f.label :password, class:"y-label" %>
          <%= f.password_field :password, autocomplete: "off" , class: "y-password-box" %>
        </div>

   
        <% if devise_mapping.rememberable? -%>
          <div class="y-remember-field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class:"remember_me" %>
          </div>
         <% end -%>

        <div class="actions">
            <%= f.submit "로그인", class:"y-post-btn"%>
        </div>
      <% end %>
    <div class="y-sign-btn"><%= render "devise/shared/links" %></div>
  </div>
</section>







