<header class="header">
  <a href="/" class="logo">
    <%= image_tag("logo.png") %>
  </a>
  <div id="s-search-btn">
    <input type="checkbox" class="s-search-btn-input" />
    <%= image_tag("search.png") %>
    <form action="/posts" method="get">
      <div class="s-search-title">원하는 여행 무드를 5개 선택해주세요!</div>
      <div class="s-mood-wrapper">
        <div class="field s-mood">
          <input type="hidden" name="mood1" value="" />
          <input type="checkbox" id="romantic" name="mood1" value="romantic"/>
          <label for="romantic">#romantic</label>
        </div>
        
        <div class="field s-mood">
            <input type="hidden" name="mood2" value="" />
            <input type="checkbox" id="tasty" name="mood2" value="tasty"/>
            <label for="tasty">#tasty</label>
        </div>
        
        <div class="field s-mood">
          <input type="hidden" name="mood3" value="" />
          <input type="checkbox" id="luxury" name="mood3" value="luxury"/>
          <label for="luxury">#luxury</label>
        </div>
        
        
        <div class="field s-mood">
          <input type="hidden" name="mood4" value="" />
          <input type="checkbox" id="healing" name="mood4" value="healing"/>
          <label for="healing">#healing</label>
        </div>
        
        <div class="field s-mood">
          <input type="hidden" name="mood5" value="" />
          <input type="checkbox" id="relaxing" name="mood5" value="relaxing"/>
          <label for="relaxing">#relaxing</label>
        </div>
        
        <div class="field s-mood">
          <input type="hidden" name="mood6" value="" />
          <input type="checkbox" id="escape" name="mood6" value="escape"/>
          <label for="escape">#escape</label>
        </div>
        <div class="field s-mood">
          <input type="hidden" name="mood7" value="" />
          <input type="checkbox" id="peaceful" name="mood7" value="peaceful"/>
          <label for="peaceful">#peaceful</label>
        </div>
        <div class="field s-mood">
          <input type="hidden" name="mood8" value="" />
          <input type="checkbox" id="active" name="mood8" value="active"/>
          <label for="active">#active</label>
        </div>
        <div class="field s-mood">
          <input type="hidden" name="mood9" value="" />
          <input type="checkbox" id="challenging" name="mood9" value="challenging"/>
          <label for="challenging">#challenging</label>
        </div>
        <div class="field s-mood">
          <input type="hidden" name="mood10" value="" />
          <input type="checkbox" id="meaningful" name="mood10" value="meaningful"/>
          <label for="meaningful">#meaningful</label>
        </div>
        <div class="field s-mood">
          <input type="hidden" name="mood11" value="" />
          <input type="checkbox" id="traditional" name="mood11" value="traditional"/>
          <label for="traditional">#traditional</label>
        </div>
        <div class="field s-mood">
          <input type="hidden" name="mood12" value="" />
          <input type="checkbox" id="sight" name="mood12" value="sight"/>
          <label for="sight">#sight</label>
        </div>
      </div>
      <div class="s-post-btn">
        <input type="submit", value="검색하기"/>
      </div>
    </form>
  </div>
  <nav role="navigation">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>
      
      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <li>
          <%= link_to '게시물 등록하기', new_post_path %>
        </li>
        <li>
          <a href="/home/mypage" class="nav_item"><li>마이페이지</li></a>
        </li>
        <li>
          <a href="/users/sign_out" class="nav_item"><li>로그아웃</li></a>
        </li>
        <li>
          <a href="/developers/index" class="nav_item"><li>개발자소개</li></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="s-wrapper">
  <div>
    <div class="s-list-wrapper">
      <ul>
        <% @posts.each do |post| %>
          <li class="s-list">
            <a class="s-list-item" href="/posts/<%= post.id %>">
              <div class="s-img-wrapper">
                <%= image_tag("#{post.postimg}", class: "s-img") %>
              </div>
              <div class="s-card-content">
                <div class="s-title">
                <%= post.title %>
              </div>
              <ul class="s-card-mood">
                <% if post.mood1 == 'romantic' %>
                  <li><%= image_tag("romantic.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood2 == 'tasty' %>
                  <li><%= image_tag("tasty.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood3 == 'luxury' %>
                  <li><%= image_tag("luxury.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood4 == 'healing' %>
                  <li><%= image_tag("healing.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood5 == 'relaxing' %>
                  <li><%= image_tag("relaxing.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood6 == 'escape' %>
                  <li><%= image_tag("escape.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood7 == 'peaceful' %>
                  <li><%= image_tag("peaceful.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood8 == 'active' %>
                  <li><%= image_tag("active.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood9 == 'challenging' %>
                  <li><%= image_tag("challenging.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood10 == 'meaningful' %>
                  <li><%= image_tag("meaningful.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood11 == 'traditional' %>
                  <li><%= image_tag("traditional.png") %></li>
                <% else %>
                <% end %>
                
                <% if post.mood12 == 'sight' %>
                  <li><%= image_tag("sight.png") %></li>
                <% else %>
                <% end %>
              </ul>
              </div>
              
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


